main {
  padding: 0em 2em;
}
.json-view {
  margin-top: 2em;
}
h4 {
  margin: 0;
}
.code {
  margin-top: 1em;
  margin-bottom: 1em;
  text-wrap: wrap;
  word-wrap: break-word;
  max-width: 50vw;
  padding: 1em;
  color: #454545;
  border: solid #616161 2px;
  font-family: monospace;
  background-color: #bab8b8;
}
